body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Variable */
    --overflagged-color: #ff6b6b;
    --width: 90vw;
    --num_tiles_y: 15;
    --num_tiles_x: 30;

    /* Calculated */
    --height: calc(var(--height_width_ratio) * var(--width));
    --height_width_ratio: calc(var(--num_tiles_y) / var(--num_tiles_x));
    --tile_size: calc(var(--width) / var(--num_tiles_x));
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.board-space {
    width: var(--tile_size);
    height: var(--tile_size);
    background-color: rgb(170, 170, 170);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.board-space.hidden {
    background-color: rgb(170, 170, 170);
}

.board-space.open.mine {
    background: red !important;
}

.board-space.open {
    background-color: rgb(230, 230, 230);
}

.board-space:hover {
    cursor: pointer;
}

.board-space.hidden.flagged {
    background-color: greenyellow;
}

.board-space.overflagged {
    background-color: var(--overflagged-color);
}

.board-row {
    display: flex;
    flex-flow: row;
}

.board {
    width: var(--width);
    height: var(--height);
    margin: 0;
}

.center-absolute {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.page {
    height: 100vh;
    width: 100vw;
}

.board-space p {
    margin: 0px;
    width: fit-content;
    height: fit-content;
}

.count-text {
    font-weight: 600;
}

#info-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 10px;;
}

#content {
    width: var(--width);
    height: fit-content;
}

#new-game-btn {
    height: fit-content;
    width: fit-content;
}

#game-score {
    margin: 0;
}

#instructions p {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}