body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.board-space {
    width: 30px;
    height: 30px;
    background-color: rgb(170, 170, 170);
    margin: 2px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.board-space.hidden {
    background-color: rgb(170, 170, 170);
}

.board-space.open.bomb {
    background: red !important;
}

.board-space.open {
    background-color: rgb(230, 230, 230);
}

.board-space.hidden:hover {
    cursor: pointer;
}

.board-space.hidden.flagged {
    background-color: greenyellow;
}

.board-row {
    display: flex;
    flex-flow: row;
}

.board {
    height: fit-content;
    width: fit-content;
}

.center-absolute {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.page {
    height: 100vh;
    width: 100vw;
}

.board-space p {
    margin: 0px;
    width: fit-content;
    height: fit-content;
}

.count-text {
    font-weight: 600;
}